<!--Footer-->
<footer class="mdl-mini-footer" id="bottom">
    <% if(theme.scheme === 'Paradox') { %>
        <!-- Paradox Footer Left Section -->
        <%- partial('_partial/footer-left') %>

        <!--Copyright-->
        <div id="copyright">
            Copyright&nbsp;©<% if(theme.copyright_since) { %>&nbsp;<%= theme.copyright_since %>&nbsp;-<% } %><script type="text/javascript">var fd = new Date();document.write("&nbsp;" + fd.getFullYear() + "&nbsp;");</script><%- config.title %>
            <% if(theme.footer_text) { %>
                <br>
                <% if(Array.isArray(theme.footer_text)) { %>
                    <%- theme.footer_text.join('<br>') %>
                <% } else { %>
                    <%- theme.footer_text %>
                <% } %>
            <% } %>
            <br>
            <a href="http://beian.miit.gov.cn/">粤ICP备18094288号-1</a>
        </div>

        <div class="mdl-mini-footer--right-section">
            <div>
                <div class="footer-develop-div">Powered by <a href="https://hexo.io" target="_blank" class="footer-develop-a">Hexo</a></div>
                <div class="footer-develop-div">Theme - <a href="https://github.com/viosey/hexo-theme-material" target="_blank" class="footer-develop-a">Material</a></div>
            </div>
        </div>
    <% } %>
</footer>
